{% extends 'shared_template.html' %}
{% load i18n %}

{% block title %}
    Artigos
{% endblock %}

{% block content %}
<div class="artigos">
    <h2>Artigos</h2>
    {% for artigo in artigos %}
        <div class="artigo">
            <hr />
            <a href="{% url 'artigos:detalhes' slug=artigo.slug %}"><div class="titulo">{{ artigo.titulo }}</div></a>
            <div class="texto">{{ artigo.amostra_texto | safe }}</div>
            {% language 'pt-br' %}
            <div class="data">{{ artigo.data }}</div>
            {% endlanguage %}
        </div>
    {% endfor %}
</div>
{% endblock %}